.button {
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  border: none;
}
/* Primary button */
.button-primary {
  background-color: var(--button-secondary-background);
}
.button-primary:hover {
  background-color: var(--button-secondary-background-hover);
}
.button-primary:active {
  background-color: var(--button-secondary-background-active);
}
.button-primary .button-disabled {
  background-color: var(--button-secondary-background-disabled);
}
/* Positive button */
.button-positive {
  background-color: var(--button-positive-background);
}
.button-positive:hover {
  background-color: var(--button-positive-background-hover);
}
.button-positive:active {
  background-color: var(--button-positive-background-active);
}
.button-positive .button-disabled {
  background-color: var(--button-positive-background-disabled);
}
/* danger button */
.button-danger {
  background-color: var(--button-danger-background);
}
.button-danger:hover {
  background-color: var(--button-danger-background-hover);
}
.button-danger:active {
  background-color: var(--button-danger-background-active);
}
.button-danger .button-disabled {
  background-color: var(--button-danger-background-disabled);
}
/* blue button */
.button-blue {
  background-color: var(--button-blue-background);
}
.button-blue:hover {
  background-color: var(--button-blue-background-hover);
}
.button-blue:active {
  background-color: var(--button-blue-background-active);
}
.button-blue .button-disabled {
  background-color: var(--button-blue-background-disabled);
}
