@import url("Theming.css");
@import url("../font/index.css");
@import url("inputs/index.css");
@import url("../../screens/index.css");
* {
  font-family: var(--font-inter);
}
body {
  background-color: var(--background-primary);
}
.floatfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--background-modifier-selected);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--background-modifier-active);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--background-modifier-accent);
}
