.container {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container .instancename {
  width: 100%;
}
.container .versionselection {
  height: 75%;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
}
.container .versionselection .versionselector {
  width: calc(100% / 3 - 5px * 2);
  height: 100%;
  float: left;
  background-color: var(--background-secondary);
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.container .versionselection .versionselector .versionselectorlabel {
  width: 100%;
  display: block;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.container .versionselection .versionselector .versions {
  height: calc(100% - 30px);
  width: 100%;
  overflow-y: scroll;
}
.container .versionselection .versionselector .versions .version {
  display: block;
  width: 100%;
  height: calc(2px + 30px);
  border: 2px solid var(--background-tertiary);
  border-radius: 10px;
}
.container .versionselection .versionselector .versions .version.selectedversion .versionindicator {
  margin-left: 10px;
  height: calc(30px / 2);
  width: calc(30px / 2);
  float: left;
  background-color: var(--interactive-normal);
  border-radius: 20px;
  margin-top: calc(30px / 4 - 2px / 2);
}
.container .versionselection .versionselector .versions .version .versionlabel {
  height: 30px;
  margin-left: 10px;
  line-height: 30px;
}
.betacontainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.createbutton {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
