.screen.settingswindow .screen.accounts .newaccountlist .accounttype {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: var(--background-primary);
  padding: 7px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  transition: width 0.2s ease-in-out;
}
.screen.settingswindow .screen.accounts .newaccountlist .accounttype img {
  height: 100%;
  margin-right: 20px;
  float: left;
}
.screen.settingswindow .screen.accounts .newaccountlist .accounttype a {
  display: inline-block;
  height: 100%;
  line-height: 36px;
  margin-right: 10px;
}
.screen.settingswindow .screen.accounts .newaccountlist .accounttype:hover {
  width: var(--hover-width);
}
.screen.settingswindow .screen.accounts .newaccountlist .accounttype.fullwidth {
  width: auto;
}
