@import url("./DiscordColors.css");
@import url("/static/font/index.css");
@import url("/static/style/Buttons.css");

html, body {
    height: 100%;
    width: 100%;

    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

body {
    font-family: var(--font-inter);
    margin: 0;
    background-color: var(--background-primary);
    color: var(--text-normal);
}

a {
    color: var(--text-normal);
    text-decoration: none;
}