select {
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px none var(--button-outline-primary-border);
    background-color: var(--button-secondary-background);
    color: var(--text-normal);
}

input {
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px none var(--button-outline-primary-border);
    background-color: var(--button-secondary-background);
    color: var(--text-normal);
}