@import url("./DiscordColors.css");
@import url("./Colors.css");
@import url("/static/font/index.css");
@import url("/static/style/Buttons.css");
@import url("/static/style/Inputs.css");

html, body {
    height: 100%;
    width: 100%;

    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    user-select: none;
}

body {
    font-family: var(--font-inter);
    margin: 0;
    background-color: var(--background-primary);
    color: var(--text-normal);
}

a {
    color: var(--text-normal);
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-muted);
    border-radius: 10px;
}