.topbar {
    --height: 50px;
    --logo-width: 200px;
    --window-width: 150px
}

/* #region basic */
.topbar {
    background-color: var(--background-tertiary);
    height: var(--height);
    position: relative;
}

.topbar .line {
    --line-div: calc(var(--height) / 10);
    height: calc(var(--line-div) * 8);
    width: 1px;
    margin-top: calc(var(--line-div));
    background-color: var(--header-secondary);
    float: left;
}

/* #endregion */
/* #region logo */
.topbar .logo {
    width: var(--logo-width);
    float: left;
}

.topbar .logo .image {
    float: left;
    --img-padding: 5px;
    --img-padding-half: calc(var(--img-padding) / 2);
    --size: calc(var(--height) - var(--img-padding));
    height: var(--size);
    width: var(--size);
    margin-top: var(--img-padding-half);
    margin-left: var(--img-padding-half);
}

.topbar .logo .text {
    display: inline-block;
    height: var(--height);
    line-height: var(--height);
    font-weight: bold;
    font-size: 20px;
}
/* #endregion */
/* #region gameslist */
.topbar .gameslist {
    float: left;
    width: var(--width);
    height: var(--height);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.topbar .gameslist::-webkit-scrollbar {
    display: none;
}

.topbar .gameslist .game {
    display: inline-block;
    height: var(--height);
    width: var(--height);
    position: relative;
}

.topbar .gameslist .game img {
    height: 80%;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
}

.topbar .gameslist .game .selectedline {
    width: 80%;
    height: 5%;
    position: absolute;
    left: 10%;
    bottom: 5%;
    border-radius: 100px;
}

.topbar .gameslist .game.selected .selectedline {
    background-color: var(--info-positive-foreground);
}
/* #endregion */
/* #region windowcontrol */

.topbar .windowcontrol {
    float: right;
    width: var(--window-width);
    height: var(--height);
    color: white;
    --padding: 15px;
    --size: calc(var(--height) - (var(--padding) * 2));
}

.topbar .windowcontrol .button {
    height: var(--size);
    width: var(--size);
    padding: var(--padding);
    float: left;
}

.topbar .windowcontrol .button:hover {
    background-color: var(--background-secondary);
}

.topbar .windowcontrol img {
    height: var(--size);
    filter: invert(100%) sepia(0%) saturate(2364%) hue-rotate(237deg) brightness(115%) contrast(101%);
}
/* #endregion */
/* #region tasklist */

/* #endregion */
