# Secrets
.env
.env.app
.env.updates

# Dependencies
/node_modules

# Data
/.corelauncher

# Compiled output
/.bundle
/.dist-handoff

# Binaries
/corelauncher
/corelauncher.exe

/corelauncher.old
/corelauncher.old.exe

/corelauncher.update
/corelauncher.update.exe
