/* Extra topbar styling */
.extra-topbar {
    --height: 50px;
    --inner-height: calc(var(--height) - 20px);
    --from-top: calc(20px / 2)
}

.extra-topbar {
    background-color: var(--background-secondary);
    height: var(--height);
    width: 100%;
    display: inline-block;
}

.extra-gameicon {
    margin-left: 30px;
    margin-top: var(--from-top);
    height: var(--inner-height);
}

.extra-gamename {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    height: var(--inner-height);
    bottom: calc(var(--from-top) + 5px);
}

.extra-addbutton {
    display: inline-block;
    margin-top: calc(var(--from-top) - 4px);
    position: absolute;
    right: 5px;
    font-size: 15px;
}

/* Instance styling */
.instances-holder {
    position: relative;
    padding: 20px;
}

.instance-tile {
    border-radius: 10px;
    background-color: var(--background-secondary-alt);
    width: 12.5%;
    padding: 20px;
}

.instance-tile:hover {
    background-color: var(--background-tertiary);
}

.instance-tile img {
    width: 100%;
}

.instance-tile {
    text-align: center;
}