@import "@fontsource/inter";

@import "./normalize.css";
@import "./colors.css";

html,
body,
#root {
	background-color: var(--cl-color-background);
}

* {
	font-family: "Inter", sans-serif;
	color: var(--cl-color-text);

	scrollbar-color: var(--cl-color-scrollbar) var(--cl-color-block);
	scrollbar-width: thin;
}
