@import "@fontsource/inter";
@import "@fontsource-variable/rubik";

@import "./colors.css";
@import "./input.css";
@import "./normalize.css";

html,
body,
#root {
	background-color: var(--cl-color-background);
}

* {
	font-family: "Inter", sans-serif;
	/*font-family:
		ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
	color: var(--cl-color-text);

	scrollbar-color: var(--cl-color-scrollbar) var(--cl-color-block);
	scrollbar-width: thin;
}
