.cl-input {
	padding: 8px;
	outline: none;
	background-color: var(--cl-color-input);

	border: 1px var(--cl-color-border) solid;
	border-radius: 8px;

	transition: background-color 0.2s ease-in-out;

	&:hover {
		background-color: var(--cl-color-input-hover);
	}
}
