html,
body,
#root {
	height: 100%;
	padding: 0;

	margin: 0;
	overflow: hidden;
}

* {
	/* Might cause issues */
	position: relative;

	box-sizing: border-box;

	padding: 0;
	margin: 0;

	-webkit-user-select: none;
	user-select: none;
}
