screen.Main screen.GamesList {
    display: flex;
    flex-direction: row;
    background-color: var(--background-tertiary);
    height: 100%;

    .iconcolumn {
        width: 50px;
        height: 100%;
        padding: 7px;

        .icon {
            width: 100%;
            height: 36px;
            aspect-ratio: 1/1;
            padding: 10%;
            border-radius: 2px;
            background-color: var(--background-tertiary);
            margin-bottom: 7px;
            cursor: pointer;

            transition: background-color 0.2s ease-in-out, border-radius 0.5s ease-in-out;

            img {
                width: 100%;
                height: 100%;
            }

            &:hover, &.selected {
                background-color: var(--background-primary);
                border-radius: 7px;
            }
        }
    }

    .playscreenholder {
        width: calc(100% - 50px);
        height: 100%;
        background-color: var(--background-primary);
        border-top-left-radius: 20px;
        overflow: hidden;
    }
}