.screen.main .screen.genericinstanced {
    .banner {
        width: 100%;
        height: 450px;
        overflow-y: hidden;

        background-size: cover;
        background-position: center;
    }

    .playbar {
        @playbarheight: 75px;
        @playbarbuttonheight: 50px;
        @playbarbuttommargin: 12.5px;

        width: 100%;
        height: @playbarheight;
        background-color: var(--background-secondary);
        position: relative;

        .playbutton {
            @padding: 75px;
            padding-left: 30px;
            padding-right: 100px;
            width: auto !important;

            text-align: left;

            float: left !important;
            margin-left: @playbarbuttommargin
        }

        .playbutton, .settingsbutton, select {
            float: right;
            height: @playbarbuttonheight;
            width: @playbarbuttonheight;
            margin-top: @playbarbuttommargin;
            margin-right: @playbarbuttommargin
        }

        .settingsbutton {
            padding: 12px;
            fill: white;
        }

        select {
            width: auto;
        }
    }
}