screen.Main screen.GamesList screen.Generic {
    .banner {
        width: 100%;
        height: 450px;
        overflow-y: hidden;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0px;
    }

    .container {
        width: 100%;
        // margin-top: 450px;
        transform: translateY(450px);

        .playbar {
            height: 80px;
            background-color: var(--background-secondary);
            padding: 10px;

            button {
                height: 60px;
                font-size: 30px;
                font-weight: bolder;
            }

            select {
                float: right;
                margin-left: 10px;
                height: 100%;
            }
        }
    }
}