screen.Main screen.Settings screen.Accounts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
screen.Main screen.Settings screen.Accounts .typelist,
screen.Main screen.Settings screen.Accounts .listfilter,
screen.Main screen.Settings screen.Accounts .account {
  width: 100%;
  padding: 20px;
  background-color: var(--background-secondary);
  border-radius: 10px;
}
screen.Main screen.Settings screen.Accounts .accounticonholder {
  background-color: var(--button-floating);
  height: 100%;
  padding: 5px;
  border-radius: 10px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
screen.Main screen.Settings screen.Accounts .accounticonholder .accounticon {
  height: 100%;
}
screen.Main screen.Settings screen.Accounts .typelist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
screen.Main screen.Settings screen.Accounts .typelist .accountselector {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  gap: 5px;
}
screen.Main screen.Settings screen.Accounts .typelist .accountselector * {
  height: 100%;
}
screen.Main screen.Settings screen.Accounts .listfilter {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
screen.Main screen.Settings screen.Accounts .listfilter *:not(a) {
  height: 100%;
}
screen.Main screen.Settings screen.Accounts .instanceslist .account .topinfo {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
screen.Main screen.Settings screen.Accounts .instanceslist .account .topinfo .nameholder {
  display: flex;
  flex-direction: column;
}
screen.Main screen.Settings screen.Accounts .instanceslist .account .topinfo .nameholder .id {
  font-size: 0.8em;
  color: var(--text-muted);
  user-select: all;
}
screen.Main screen.Settings screen.Accounts .instanceslist .account .topinfo button {
  height: 100%;
  font-weight: bolder;
  float: right;
  margin-left: auto;
}
