@topbar-height: 45px;
@topbar-margin: 4px;
@container-height: calc(100% - @topbar-height);

.topbar {
    height: calc(@topbar-height - @topbar-margin * 2);
    width: 90%;
    display: inline-block;
    background-color: var(--background-floating);
    position: absolute;
    left: 5%;
    top: @topbar-margin;
    background-clip: content-box;
    border-radius: 10px;

    .containertab {
        display: inline-block;
        height: 100%;
        padding: 4px;
        background-color: var(--background-tertiary);
        background-clip: content-box;
        border-radius: 10px;

        &.selected {
            background-color: var(--background-primary);
        }

        a {
            @margin: 8px;
            margin-left: @margin;
            margin-right: @margin;
            height: 100%;
            display: block;
            line-height: calc(@topbar-height - @topbar-margin * 2 - 8px);
        }
    }
}

.container {
    display: inline-block;
    height: @container-height;
    width: 100%;

    position: absolute;
    bottom: 0px;
    padding: 30px;
}