@import url("./subscreens/genericinstanced/index.css");

.screen.main {
    .gameslist {
        float: left;
        height: 100%;
        max-width: fit-content;

        background-color: var(--background-tertiary);

        .icons {
            @icons-size: 30px;
            float: left;
            height: 100%;
            width: @icons-size;

            div {
                width: @icons-size;
                height: @icons-size;
                &:hover, &.hover, &.selected {
                    cursor: pointer;
                    background-color: var(--background-secondary-alt);
                }

                img {
                    @margin: 2px;
                    margin: @margin;
                    width: calc(100% - (@margin * 2));
                    position: relative;
                }
            }
            
        }

        .names {
            display: inline-block;
            height: 100%;
            width: 100px;
            transition: width 0.2s;

            resize: horizontal;
            background-color: var(--background-secondary-alt);

            .dragline {
                height: 100%;
                width: 3px;
                float: right;
                

                &:hover, &.dragging {
                    cursor: ew-resize;
                    background-color: var(--background-floating);
                }
            }

            div {
                @name-height: 30px;
                width: 100%;
                height: @name-height;
                &:hover, &.hover, &.selected {
                    cursor: pointer;
                    background-color: var(--background-secondary);
                }

                a {
                    margin-left: 10px;
                    display: block;
                    height: @name-height;
                    line-height: @name-height;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }

    .playscreenholder {
        float: right;
        height: 100%;
        width: 100%;
        transition: width 0.2s;
        overflow: hidden;
    }
}

.topbar {
    @topbar-height: 30px;

    position: fixed;
    height: @topbar-height;
    width: 100%;
    background-color: var(--background-tertiary);
    z-index: 50000;
    -webkit-app-region: drag;

    .holder {
        height: 100%;
        display: inline-block;

        .imageholder {
            height: 100%;
            width: @topbar-height;
            padding: 4px;
            float: left;

            -webkit-app-region: none;
            cursor: pointer;

            &:hover {
                .logo {
                    display: none;
                }

                .bars {
                    display: block;
                }
            }

            .logo, .bars {
                height: 100%;
                width: 100%;
            }

            .bars {
                display: none;
                fill: var(--background-floating);
                -webkit-app-region: none;
            }
        }

        a {
            @margin: 4px;
            margin-top: @margin;
            margin-bottom: @margin;

            color: var(--background-floating);
            font-weight: bold;
            height: 100%;
            line-height: @topbar-height - (@margin * 2);
            float: left;

        }
    }

    .windowcontrol {
        float: right;
        -webkit-app-region: no-drag;

        div {
            height: @topbar-height;
            width: @topbar-height;
            text-align: center;
            float: right;
            cursor: pointer;

            -webkit-app-region: no-drag;


            svg {
                transition: margin 0.1s, fill 0.1s;
                margin: 8px;
                fill: var(--button-floating);
            }

            &:hover {
                svg {
                    fill: var(--hover-color);
                    margin: 7px;
                }
            }

        }

    }

}

.taskmanager {
    display: block;
    position: absolute;
    bottom: calc(0px - 50vh);
    transition: bottom 0.2s;

    width: 100%;
    background-color: var(--background-tertiary);

    &.expanded {
        bottom: 0px;

        .bar {
            .sizeicon {
                transition: transform 0.2s;
                transform: rotate(180deg);
            }
        }
    }

    .bar {
        @bar-height: 30px;
        height: @bar-height;

        .progressbar {
            background-color: green;
            height: @bar-height;
            position: absolute;
            transition: width 1s ease-out;
        }

        .taskicon, .sizeicon {
            @margin: 5px;
            @size: @bar-height - (@margin * 2);
            height: @bar-height;
            position: absolute;
            
            svg {
                margin-left: @margin;
                margin-right: @margin;
                margin-top: @margin;
                margin-bottom: @margin;

                height: @size;
                width: @size;
                fill: white
            }
        }

        .taskicon, .sizeicon, .taskname {
            top: 0px
        }

        .taskicon {
            left: 0px;
        }

        .taskname {
            height: @bar-height;
            line-height: @bar-height;
            display: inline-block;
            position: absolute;
            left: 35px;
        }

        .sizeicon {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 30px;
            cursor: pointer;
        }

    }

    .body {
        height: 50vh;
        background-color: var(--background-secondary-alt);
        overflow: auto;

        .taskholder {
            width: 80%;
            margin: auto;
            margin-top: 10vh;

            .task {
                @task-height: 40px;
                @fromleft: calc(40px * var(--parent-count));
                height: @task-height;
                width: 100%;

                display: inline-block;
                position: relative;

                svg, .dot {
                    --margin: 8px;
                    @margin: var(--margin);
                    height: calc(@task-height - (@margin * 2));
                    width: calc(@task-height - (@margin * 2));

                    margin: @margin;
                    fill: var(--background-floating);
                    display: block;
                    position: absolute;
                }

                .dot {
                    --margin: 15px;
                    border-radius: 100px;
                    background-color: var(--background-floating);
                    left: -@task-height + 5;
                    display: none;
                }

                .arrow {
                    position: absolute;
                    margin-left: calc(@fromleft - 40px + var(--margin));
                }

                &[parent-count="0"] .arrow {
                    display: none !important;
                }

                &[parent-count="0"] .dot {
                    display: block;
                }

                .progressbarholder {
                    float: right;
                    position: relative;
                    height: @task-height;
                    width: calc(100% - @fromleft);
                    border-radius: 10px;
                    overflow: hidden;
                    display: block;
                    background-color: var(--background-tertiary);

                    .taskname {
                        height: @task-height;
                        line-height: @task-height;
                        margin-left: 35px;
                        display: inline-block;
                        position: absolute;
                    }

                    .progressbar {
                        background-color: green;
                        width: 50%;
                        height: @task-height;
                        position: absolute;
                        transition: width 1s ease-out;
                    }

                    
                }
            }

        }
    }
}