.screen.main .gameslist {
  height: 100%;
  max-width: fit-content;
  background-color: var(--background-tertiary);
}
.screen.main .gameslist .icons {
  float: left;
  height: 100%;
  width: 30px;
}
.screen.main .gameslist .names {
  display: inline-block;
  height: 100%;
  width: 100px;
  resize: horizontal;
  background-color: var(--background-secondary-alt);
}
.screen.main .gameslist .names .dragline {
  height: 100%;
  width: 3px;
  float: right;
}
.screen.main .gameslist .names .dragline:hover {
  cursor: ew-resize;
  background-color: var(--interactive-normal);
}
.topbar {
  height: 30px;
  width: 100%;
  background-color: var(--background-tertiary);
  -webkit-app-region: drag;
}
.topbar .holder {
  height: 100%;
  width: 50%;
  padding: 4px;
  float: left;
}
.topbar .holder img {
  height: 22px;
  width: 22px;
  margin-right: 10px;
  float: left;
}
.topbar .holder a {
  color: var(--background-accent);
  font-weight: bold;
  height: 100%;
  line-height: 22px;
  float: left;
}
.topbar .windowcontrol {
  float: right;
  -webkit-app-region: no-drag;
}
.topbar .windowcontrol div {
  height: 30px;
  width: 30px;
  text-align: center;
  float: right;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
.topbar .windowcontrol div svg {
  transition: margin 0.1s, fill 0.1s;
  margin: 8px;
  fill: var(--background-accent);
}
.topbar .windowcontrol div:hover svg {
  fill: var(--hover-color);
  margin: 7px;
}
