@import url("./subscreens/genericinstanced/index.css");

screen.Main {
    .topbar {
        @topbar-height: 50px;
        padding: 10px;
        height: @topbar-height;
        width: 100%;

        background-color: var(--background-tertiary);
        z-index: 50000;
        -webkit-app-region: drag;

        display: flex;
        flex-direction: row;
        vertical-align: middle;
        justify-content: space-between;

        .imageholder {
            height: 100%;
            display: flex;

            -webkit-app-region: none;

            &.showbars {
                cursor: pointer;
            }

            &:hover.showbars {
                .logo {
                    display: none;
                }

                .bars {
                    display: block;
                }
            }

            .logo,
            .bars {
                height: 100%;
                aspect-ratio: 1/1;
            }

            .bars {
                display: none;
                fill: var(--background-floating);
                -webkit-app-region: none;
            }

            .title {
                margin-left: 10px;
    
                color: var(--background-floating);
                font-weight: bold;
                line-height: 30px;
            }
        }

        .windowcontrol {
            -webkit-app-region: no-drag;
            display: flex;
            gap: 5px;

            div {
                height: 100%;
                aspect-ratio: 1/1;
                cursor: pointer;
                -webkit-app-region: no-drag;


                svg {
                    transition: margin 0.1s, fill 0.1s;
                    margin: 4px;
                    fill: var(--button-floating);
                }

                &:hover {
                    svg {
                        fill: var(--hover-color);
                        margin: 5px;
                    }
                }

            }

        }
    }

}

.screenholder {
    height: calc(100% - 50px);
}

.gameslist {
    float: left;
    height: 100%;
    max-width: fit-content;

    background-color: var(--background-tertiary);

    .icons {
        @icons-size: 30px;
        float: left;
        height: 100%;
        width: @icons-size;

        div {
            width: @icons-size;
            height: @icons-size;

            &:hover,
            &.hover,
            &.selected {
                cursor: pointer;
                background-color: var(--background-secondary-alt);
            }

            img {
                @margin: 2px;
                margin: @margin;
                width: calc(100% - (@margin * 2));
                position: relative;
            }
        }

    }

    .names {
        display: inline-block;
        height: 100%;
        width: 100px;
        transition: width 0.2s;

        resize: horizontal;
        background-color: var(--background-secondary-alt);

        .dragline {
            height: 100%;
            width: 3px;
            float: right;


            &:hover,
            &.dragging {
                cursor: ew-resize;
                background-color: var(--background-floating);
            }
        }

        div {
            @name-height: 30px;
            width: 100%;
            height: @name-height;

            &:hover,
            &.hover,
            &.selected {
                cursor: pointer;
                background-color: var(--background-secondary);
            }

            a {
                margin-left: 10px;
                display: block;
                height: @name-height;
                line-height: @name-height;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

.playscreenholder {
    float: right;
    height: 100%;
    width: 100%;
    transition: width 0.2s;
    overflow: hidden;
}