@keyframes cl-dialog-initialize-background {
	100% {
		background-color: rgba(0, 0, 0, 0.8);
	}
}

@keyframes cl-dialog-initialize-content {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.cl-dialog {
	position: absolute;
	top: 0;
	left: 0;

	z-index: 9999;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	animation: cl-dialog-initialize-background 0.5s forwards;

	.content {
		display: flex;
		flex-direction: column;
		gap: 8px;

		width: var(--cl-dialog-width);
		height: var(--cl-dialog-height);

		animation: cl-dialog-initialize-content 0.1s forwards;

		.header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			height: 40px;

			.header-content {
				display: flex;
				flex-direction: row;
				gap: 8px;

				.title {
					font-weight: 600;
				}
			}
		}

		.body {
			height: 100%;
		}
	}
}
