screen.Main screen.TaskManager screen.List {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
screen.Main screen.TaskManager screen.List .process {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background-tertiary);
  padding: 20px;
  border-radius: 20px;
}
screen.Main screen.TaskManager screen.List .process .titleholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
screen.Main screen.TaskManager screen.List .process .titleholder .title {
  font-size: 20px;
  font-weight: bold;
}
screen.Main screen.TaskManager screen.List .process .taskholder {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
screen.Main screen.TaskManager screen.List .process .taskholder .task {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
screen.Main screen.TaskManager screen.List .process .taskholder .task .barrow {
  display: flex;
  flex-direction: row;
  gap: 3px;
  height: 30px;
}
screen.Main screen.TaskManager screen.List .process .taskholder .task .barrow .offsetter {
  height: 100%;
  width: calc(var(--index) * 30px);
}
screen.Main screen.TaskManager screen.List .process .taskholder .task .barrow .expandbutton {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  padding: 3px;
}
screen.Main screen.TaskManager screen.List .process .taskholder .task .barrow .expandbutton svg {
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  fill: var(--text-normal);
}
screen.Main screen.TaskManager screen.List .process .taskholder .task .barrow .expandbutton:hover {
  background-color: var(--button-floating-hover);
}
screen.Main screen.TaskManager screen.List .process .taskholder .task .barrow .expandbutton.expanded svg {
  transform: rotate(0deg);
}
screen.Main screen.TaskManager screen.List .process .taskholder .task .barrow .processbar {
  width: 100%;
  border-radius: 10px;
  background-color: var(--background-floating);
  position: relative;
  display: flex;
  align-items: center;
}
screen.Main screen.TaskManager screen.List .process .taskholder .task .barrow .processbar .statetext,
screen.Main screen.TaskManager screen.List .process .taskholder .task .barrow .processbar .progresstext {
  position: absolute;
}
screen.Main screen.TaskManager screen.List .process .taskholder .task .barrow .processbar .statetext {
  left: 10px;
}
screen.Main screen.TaskManager screen.List .process .taskholder .task .barrow .processbar .progresstext {
  right: 10px;
}
screen.Main screen.TaskManager screen.List .process .taskholder .task .barrow .processbar .bar {
  height: 100%;
  width: 0%;
  background-color: var(--button-positive);
  border-radius: 10px;
  transition: width 0.2s ease-in-out;
}
screen.Main screen.TaskManager screen.List .process .taskholder .task .expandrow {
  height: 0px;
  overflow: hidden;
}
screen.Main screen.TaskManager screen.List .process .taskholder .task.expanded > .expandrow {
  height: auto;
}
