betterselect {
  background-color: var(--button-floating);
  color: var(--text-primary);
  border-radius: 5px;
  padding: 2px;
  font-size: 16px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}
betterselect::after {
  content: "▼";
  font-size: 10px;
  margin-left: 5px;
}
betterselect .expand {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: var(--button-floating);
  border-radius: 5px;
  transform: translateX(-10px) translateY(-80px);
}
betterselect .expand betteroption {
  min-height: var(--select-height);
  min-width: var(--select-width);
  padding: 2px;
  border-radius: 5px;
}
betterselect .expand betteroption:hover {
  background-color: var(--button-floating-hover);
}
betterselect.expanded::after {
  content: "▲";
}
betterselect.expanded betteroption {
  display: flex !important;
}
betterselect.expanded .expand {
  display: flex;
}
betterselect:hover {
  background-color: var(--button-floating-hover);
}
betterselect betteroption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}
betterselect betteroption:not([selected]) {
  display: none;
}
