.playbar {
    display: inline-block;
    width: 100%;
    height: 80px;
    background-color: var(--background-secondary-alt);
    position: relative;
}

.bannerimage {
    display: block;
}

.playbutton {
    position: absolute;
    left: 40%;
    top: 10%;
    width: 20%;
    height: 80%;
    font-size: 4vh;
}