.cl-button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: fit-content;

	padding: 10px;
	cursor: pointer;
	outline: none;
	background-color: var(--cl-button-color);

	border: none;
	border-radius: 8px;

	transition: background-color 0.2s ease-in-out;

	&:hover {
		background-color: var(--cl-button-hover-color);
	}
}
