.cl-button {
	width: fit-content;

	padding: 10px;
	cursor: pointer;
	outline: none;
	background-color: var(--cl-color-input);

	border: none;
	border-radius: 8px;

	transition: background-color 0.2s ease-in-out;

	&::placeholder {
		color: var(--cl-color-text-muted);
	}

	&:hover {
		background-color: var(--cl-color-input-hover);
	}
}
