screen.LoadingScreen {
  transition: visibility 0.3s, opacity 0.3s;
  z-index: 1000000;
  background-color: var(--background-primary);
  -webkit-app-region: drag;
}
screen.LoadingScreen .holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 235px;
  height: 360px;
  margin: auto;
}
screen.LoadingScreen img {
  width: 60%;
  margin: 20%;
  margin-bottom: 30px;
}
screen.LoadingScreen a {
  font-weight: bold;
  text-transform: capitalize;
  width: 100%;
  display: block;
  text-align: center;
}
screen.loadingscreen .holder {
  -webkit-app-region: no-drag;
}
