.screen.loadingscreen {
  transition: visibility 0.5s, opacity 0.5s;
}
.screen.loadingscreen .holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 235px;
  height: 360px;
  margin: auto;
  -webkit-app-region: drag;
}
.screen.loadingscreen img {
  width: 60%;
  margin: 20%;
  margin-bottom: 30px;
}
.screen.loadingscreen a {
  font-weight: bold;
  text-transform: capitalize;
  width: 100%;
  display: block;
  text-align: center;
}
