screen.Main screen.Settings {
  display: flex;
}
screen.Main screen.Settings .sidebar {
  width: 25%;
  height: 100%;
  background-color: var(--background-secondary);
  padding: 10px;
}
screen.Main screen.Settings .sidebar .tabslist {
  height: calc(100% - 60px - 16px);
}
screen.Main screen.Settings .sidebar .tabslist .tabheader {
  color: var(--text-muted);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
screen.Main screen.Settings .sidebar .tabslist .tab {
  width: 100%;
  height: 35px;
  background-color: var(--background-primary);
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
screen.Main screen.Settings .sidebar .tabslist .tab svg {
  transform: rotate(180deg);
  height: 100%;
  margin-right: 0px;
  fill: var(--text-normal);
  width: 0px;
  transition: width 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}
screen.Main screen.Settings .sidebar .tabslist .tab.active svg,
screen.Main screen.Settings .sidebar .tabslist .tab:hover svg {
  width: 20px;
  margin-right: 8px;
}
screen.Main screen.Settings .sidebar hr {
  border-color: var(--text-muted);
}
screen.Main screen.Settings .sidebar .returnbutton {
  height: 60px;
  padding: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
}
screen.Main screen.Settings .sidebar .returnbutton:hover {
  background-color: var(--button-default-hover);
}
screen.Main screen.Settings .sidebar .returnbutton:hover svg {
  margin-left: 2px;
}
screen.Main screen.Settings .sidebar .returnbutton svg {
  height: 100%;
  fill: var(--text-normal);
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
  margin-right: 10px;
  margin-left: 5px;
}
screen.Main screen.Settings .sidebar .returnbutton a {
  font-size: 20px;
}
screen.Main screen.Settings .settingsframe {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}
screen.Main screen.Settings .settingsframe screen {
  width: 100%;
}
