.cl-numberinput {
	-moz-appearance: textfield;
	appearance: textfield;

	/* Hide default arrows */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		margin: 0;
		-webkit-appearance: none;
	}
}
