@import url("loadingscreen/index.css");
@import url("main/index.css");
@import url("settingswindow/index.css");
.screen {
  width: 100%;
  height: 100%;
  display: block;
}
.taskmanager-expanded {
  --taskmanager-height: calc(30px + 50vh);
}
body {
  overflow: hidden;
  --taskmanager-height: 30px;
}
.screenholder {
  overflow: auto;
}
.screenholder > .screen {
  height: calc(100% + var(--taskmanager-height) - 30px) !important;
  width: calc(100%);
}
.screenholder,
.screenstyles {
  transition: height 0.2s;
  height: calc(100% - 30px - var(--taskmanager-height)) !important;
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
}
