/* Block styling */
.block-holder {
    position: absolute;
    display: block;
    width: 80%;
    left: 10%;
    top: 10%;
    
}

.block {
    padding: 30px;
    background-color: var(--background-secondary);
    border-radius: 20px;
    margin-bottom: 20px;
}

.topinfo {
    display: inline-block;
    position: relative;
    width: 100%;
}

.topname {
    font-size: 40px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--header-secondary);
    margin-bottom: 10px;
}

.topinfo button {
    float: right;
    margin-bottom: 5px;
}

/* instance block */
.instances {
    width: 100%;
}

.instance {
    background-color: var(--background-secondary-alt);
    width: 100% - 20px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.instance:hover {
    background-color: var(--background-floating);
}

.selectedinstance {
    border: 2px solid var(--text-brand);
}

.instanceimage {
    height: 100%;
    float: left;
}

.instancelabel {
    display: inline-block;
    height: 100%;
    line-height: 40px;
    margin-left: 10px;
    width: auto;
}

.instanceversion {
    margin-left: 10px;
    color: var(--interactive-normal);
}

/* Basic data */
.dataform {
    width: 100%;
}

.dataform label {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
}

/* mods list */
.modlist {
    width: 100%;
    display: inline-block;
}

.modlistmod {
    display: inline-block;
    height: 100px;
    width: 100%;
    background-color: var(--background-tertiary);
    border-radius: 20px;
    margin-bottom: 10px;
}

.modlistmod .half {
    display: inline-block;
    height: calc(50% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
}

.modlistmod .modimage {
    float: left;
    height: 100%;
    border-radius: 10px;
    margin-right: 5px;
}

.modlistmod .warningimage {
    height: 100%;
    float: right;
    visibility: hidden;
}

.modlistmod .warningenabled {
    visibility: visible !important;
}

.modversionselect {
    display: inline-block;
    width: 30%;
}

.modlistmod .modname {
    display: inline-block;
    height: 100%;
    line-height: 30px;
}

.modlistmod .half .button {
    height: 100%;
    line-height: 30px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    float: right;
    margin-left: 10px;
}


/* new mods block */
.modsourceselect {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 90%;
}

.searchbarlabel {
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

.searchoptions {
    display: inline-block;
    margin-bottom: 20px;
}

.searchbar {
    display: inline-block;
    overflow: hidden;
    width: 80%;
}

.modresult {
    display: inline-block;
    height: 150px;
    width: calc(100% - 40px);
    background-color: var(--background-tertiary);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

.modresult .modimage {
    background-color: var(--background-secondary-alt);
    height: 100%;
    border-radius: 20px;
    float: left;
}

.modresult .modtexts {
    height: 100%;
    display: inline-block;
    width: 70%;
    position: relative;
}

.modresult .modname {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
}

.modresult .modauthor {
    margin-left: 10px;
}

.modresult .moddesc {
    font-size: 15px;
}

.modresult .moddescholder {
    display: inline-block;
    margin-left: 10px;
    width: 60%;
}

.modresult .modcategories {
    margin-left: 10px;
    position: absolute;
    bottom: 0px;
    left: 150px;
}

.modresult .buttons {
    float: right;
    height: 100%;
}

.modresult .modbutton {
    float: right;
}

.modresult .viewbrowser {
    margin-bottom: 10px;
}

.searchpage {
    text-align: center;
    margin-bottom: 20px;
}

.searchpage button {
    margin-left: 10px;
    margin-right: 10px;
}

.searchpage input {
    width: 40px;
    text-align: right !important;
}

.pageinput::-webkit-outer-spin-button,
.pageinput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}