.topbar {
  height: calc(45px - 4px * 2);
  width: 90%;
  display: inline-block;
  background-color: var(--background-floating);
  position: absolute;
  left: 5%;
  top: 4px;
  background-clip: content-box;
  border-radius: 10px;
}
.topbar .containertab {
  display: inline-block;
  height: 100%;
  padding: 4px;
  background-color: var(--background-tertiary);
  background-clip: content-box;
  border-radius: 10px;
}
.topbar .containertab.selected {
  background-color: var(--background-primary);
}
.topbar .containertab a {
  margin-left: 8px;
  margin-right: 8px;
  height: 100%;
  display: block;
  line-height: calc(45px - 4px * 2 - 8px);
}
.container {
  display: inline-block;
  height: calc(100% - 45px);
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 30px;
}
