.App {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;

	max-height: 100vh;
	overflow: auto;

	.block,
	.normal {
		display: flex;
		flex-direction: column;
		gap: 32px;
		align-items: flex-start;

		width: 50%;
		height: fit-content;

		padding: 32px;
	}

	.block {
		background-color: var(--cl-color-block);
	}
}
