.App {
	display: flex;
	flex-direction: row;

	min-height: 100%;

	.block,
	.normal {
		display: flex;
		flex-direction: column;
		gap: 64px;
		align-items: start;
		justify-content: center;

		width: 50%;
		min-height: 100%;

		padding: 40px;
	}

	.block {
		background-color: var(--cl-color-block);
	}
}
